<app-header></app-header>
<section>
    <main>
      <div class="container">
        <br />
        <br />
        <br />
        <br />
  
        <h2 class="title">
          <span class="title-word title-word-1">E-learning </span>
          <span class="title-word title-word-2">Management </span>
          <span class="title-word title-word-3">System</span>
          <br />
          <br />
        </h2>
        <nav>
          <button class="bn39" (click)="navigateTo('sign-in')">
            <span class="bn39span">Log in</span>
          </button>
        </nav>
        <br />
          <button class="bn39" (click)="navigateTo('register')">
            <span class="bn39span">Register</span>
          </button> <br>
      </div>
    </main>
  </section>
  <app-footer></app-footer>